body {
    background-image: url("./assets/trees.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



.error-message {
    color: red;
    display: none;
}